.image {
    background-image: url("nasa.jpg"); 
    background-color: black; 
    height: 700px; 
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
  }

.page_title {
    color: whitesmoke;
    font-size: 80px;
    text-align: center;
}

.table-striped {
    color: whitesmoke;
}

.form-control {
    position: relative;
    bottom: 10px;
    left: 540px;
}

#filter-btn {
    color: whitesmoke;
    position: relative;
    bottom: 10px;
    left: 550px;  
} 